<div class="container-fluid" ng-controller="HomeController">
    <a href="#home" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
    <div class="container-fluid panel">
        Please see below your current profile details
    </div>
    <div class="container-fluid col-md-6">
        <div class="row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <input id="email" class="control-input col-sm-4" align="left" type="text" ng-model="user.email" readonly>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="firstname">First Name:</label>
            <input id="firstname" class="control-input col-sm-4" align="left" type="text" ng-model="user.firstName" readonly/>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="lastname">Last Name:</label>
            <input id="lastname" class="control-input col-sm-4" align="left" type="text" ng-model="user.lastName" readonly/>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="street">Street</label>
            <input id="street" class="control-input col-sm-4" align="left" type="text" ng-model="userAddress.street" readonly/>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="city">City</label>
            <input id="city" class="control-input col-sm-4" align="left" type="text" ng-model="userAddress.city" readonly/>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="postcode">Postal Code</label>
            <input id="postcode" class="control-input col-sm-4" align="left" type="text"
                   ng-model="userAddress.postalCode" readonly/>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="country">Country</label>
            <input id="country" class="control-input col-sm-4" align="left" type="text" ng-model="userAddress.country" readonly/>
        </div>
    </div>
</div>